@import url('https://fonts.googleapis.com/css2?family=Lilex:wght@400..700&display=swap');

:root {
    /* COLORS */
    --bg-main: rgb(0, 0, 0);
    --bg-card: rgba(0, 0, 0, 0.2);
    --accent: #ff6500;

    --text-primary: #FFFCF9;
    --text-muted: #AFA9A4;
    --border-subtle: rgba(255, 255, 255, 0.3);


    /* TYPOGRAPHY */
    --font-main: 'Lilex', sans-serif;

    --fs-xs: 0.6rem;
    --fs-s: 0.750rem;
    --fs-sm: 0.875rem;
    --fs-base: 1rem;
    --fs-md: 1.25rem;
    --fs-lg: 1.5rem;
    --fs-xl: 2rem;
    --fs-xxl: 2.5rem;
    --fs-xxxl: 3rem;

    /* SPACING */
    --space-xs: 5px;
    --space-sm: 10px;
    --space-md: 20px;
    --space-base: 30px;
    --space-lg: 40px;
    --space-xl: 50px;
    --space-xxl: 60px;

    /* ELEMENT STYLES */
    --radius-sm: 5px;
    --radius-s: 10px;
    --radius-xs: 15px;
    --radius-md: 20px;
    --radius-base: 30px;
    --radius-lg: 40px;
    --radius-xl: 50px;

}

/* Defaults */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-main);
  padding: var(--space-base);
  font-family: var(--font-main);
  
  background-image: 
    linear-gradient(rgba(255, 255, 255, 0.03) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, 0.03) 1px, transparent 1px);
    background-size: 50px 50px;
}

.landing-wrapper {
    width: min(100%, 1200px);
    margin: 0 auto;
}


/* Components */
.disabled-link {
    opacity: 0.3;
    cursor: not-allowed;
    pointer-events: none;
}

.glass-effect {
    background: rgba(255, 255, 255, 0.03); 

    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);

    border: 1px solid rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    border-left: 1px solid rgba(255, 255, 255, 0.17);

    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
}

.desktop-nav a {
    transition: color 0.2s ease;
    color: var(--text-primary);
    text-decoration: none;
}

.burger-btn {
    display: none;
    flex-direction: column;
    gap: var(--space-sm);
    cursor: pointer;
}

.arrow-link {
    display: block;
    width: 48px;
    height: 48px;
    background-color: var(--text-primary);

    -webkit-mask: url('../sources/arrow-icon.svg') no-repeat center / contain;
    mask: url('../sources/arrow-icon.svg') no-repeat center / contain;

    transition: background-color 0.3s ease, transform 0.2s ease, border-color 2s ease !important;
}

.logo-img {
    height: 30px;
    width: auto;
    display: block;
}

/* Header and Footer */
.header {
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);

  color: var(--text-primary);
  border: var(--border-subtle) 1px solid;
  border-radius: var(--radius-md);

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--space-md);

  position: sticky;
  top: var(--space-base);
  z-index: 100;
}

.desktop-nav {
    display: flex;
    gap: var(--space-sm);
}

.footer {
    background-color: var(--bg-main);
    color: var(--text-primary);
    border: var(--border-subtle) 1px solid;
    border-radius: var(--radius-md);
    
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--space-md);
}

.footer p {
    font-size: var(--fs-base);
    color: var(--text-muted);
}

/* Hero Card */

.main-content h1,
.main-content h2,
.main-content p {
  margin: 0;      
  padding: 0;      
  border: none;    
  line-height: 1.2; 
}

.main-content {
    display: flex;
    gap: var(--space-base);

    margin-top: var(--space-base);
    margin-bottom: var(--space-base);
}

.hero-card {
    background-color: var(--bg-card);
    color: var(--text-primary);

    border-radius: var(--radius-base);
    padding: var(--space-base);

    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;

    overflow: hidden; 
    background-clip: padding-box;

    min-height: 70vh;

    background-image: radial-gradient(rgba(255, 255, 255, 0.2) 1px, transparent 1px);
    background-size: 30px 30px;

    transition: transform 0.3s ease, border-color 0.3s ease;
}

.hero-title{
    font-size: var(--fs-xxxl);
}

.hero-desc {
    font-size: var(--fs-md);
}

.accent-divider {
    width: 15%;
    height: 4px;
    background-color: var(--accent);
    border: none;
    border-radius: var(--radius-sm);
    opacity: 1;
    margin-bottom: var(--space-md);
}

/* Courses section */

.courses-column {
  flex: 1.1; 
  display: flex;
  flex-direction: column;
  gap: var(--space-base);
}

.course-card {
  background-color: var(--bg-card);
  color: var(--text-primary);
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);

  border-radius: var(--radius-base);
  padding: var(--space-base);
  
  overflow: hidden; 
  background-clip: padding-box;

  font-family: var(--font-main);
  display: flex;
  justify-content: space-between;

  flex: 1;

  transition: transform 0.3s ease, border-color 0.3s ease;
}

.course-info {
    display: flex;
    flex-direction: column;
    gap: var(--space-sm);
    align-items: flex-start;
    justify-content: space-between;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);

    max-width: 60%;
}

.course-link {
    align-self: flex-end;
}

.course-title {
    font-size: var(--fs-lg);
    max-width: 70%;
}

.course-desc {
    font-size: var(--fs-base);
    color: var(--text-muted);
}

.math-bg, .econ-bg {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.6), 
        rgba(0, 0, 0, 0.9)  
    ), url('sources/math-card-img.jpg');
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}

.econ-bg {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.6), 
        rgba(0, 0, 0, 0.9) 
    ), url(sources/be-card-img.jpg);
}

/* HOVERS */

.course-card:hover {
    transform: translateY(-3px); 
    border-color: var(--accent); 
    filter: drop-shadow(5px 5px 10px rgba(255, 101, 0, 0.5));
}

.arrow-link:hover {
    transform: translateY(-3px);
}

.desktop-nav a:hover {
    color: var(--accent);
}

/* RESPONSIVE */

/* Tablet & Medium Screens (992px and below) */
@media (max-width: 992px) {
    :root {
        --fs-xxxl: 2.5rem;
    }

    .hero-title {
        font-size: var(--fs-xxl);
    }

    .course-desc {
        font-size: var(--fs-sm);
    }

    .course-info {
        max-width: 70%;
    }
}

/* Small Tablets (850px and below) */
@media (max-width: 850px) {
    .landing-wrapper {
        width: min(100%, 700px);
    }

    .main-content {
        flex-direction: column;
        gap: var(--space-md);
        margin: var(--space-md) auto;
    }

    .hero-card {
        min-height: 40vh;
        gap: var(--space-md);
    }

    .hero-bottom {
        display: flex;
        flex-direction: column;
        max-width: 80%;
    }

    .hero-title {
        font-size: var(--fs-xxl);
    }

    .hero-desc {
        font-size: var(--fs-md);
    }

    .courses-column {
        flex-direction: row;
        gap: var(--space-md);
    }

    .course-card {
        min-height: 250px;
    }

    .arrow-link {
        width: 42px;
        height: 42px;
    }
}

/* Mobile Landscape (650px and below) */
@media (max-width: 650px) {
    .courses-column {
        flex-direction: column;
    }

    .course-desc {
        font-size: var(--fs-base);
    }
}

/* Mobile Portrait (480px and below) */
@media (max-width: 480px) {
    .burger-btn {
        display: flex;
        gap: var(--space-xs);
        background: none;
        border: none;
        height: auto;
        width: 20px;
    }

    .burger-btn span {
        display: block;
        width: 100%;
        height: 3px;
        background-color: var(--text-primary);

        border:none;
        border-radius: var(--radius-sm);

        transition: all var(--space-sm) ease; 
    }

    .desktop-nav {
        display: none;
    }

    .hero-title {
        font-size: var(--fs-xl);
    }

    .hero-desc{
        font-size: var(--fs-base);
    }

    .course-desc {font-size: var(--fs-sm);}

    .header {
        min-width: auto;
        padding: var(--space-sm) var(--space-md);
        border-radius: var(--radius-xs);
    }

    .footer {
        min-width: auto;
        padding: var(--space-sm);

        align-items: center;
        text-align: center;
    }

    .footer p {
        font-size: var(--fs-s);
    }


    .logo-img {
        height: 20px;
        width: auto;
    }

    .desktop-nav.active {
        display: flex;
        flex-direction: column;
        
        position: absolute;
        top: 100%;
        right: 0;
        margin-top: var(--space-sm);
        
        padding: var(--space-md);
        border-radius: var(--radius-md);
        border: var(--border-subtle) 1px solid;
        background-color: var(--bg-main);
        gap: var(--space-sm);
        z-index: 100;

        font-size: var(--fs-sm);
    }

    .desktop-nav.active > .separator {
        display: none;
    }
    
}




