@import url('https://fonts.googleapis.com/css2?family=Lilex:wght@400..700&display=swap');

:root {
    /* COLORS */
    --bg-main: #000000;
    --bg-card: rgba(0, 0, 0, 0.2);
    --accent: #FF6500;

    --text-primary: #FFFCF9;
    --text-muted: #AFA9A4;


    /* TYPOGRAPHY */
    --font-main: 'Lilex', sans-serif;

    --fs-sm: 0.875rem;
    --fs-base: 1rem;
    --fs-md: 1.25rem;
    --fs-lg: 1.5rem;
    --fs-xl: 2rem;
    --fs-xxl: 2.5rem;
    --fs-xxxl: 3rem;

    /* SPACING */
    --space-xs: 5px;
    --space-sm: 10px;
    --space-md: 20px;
    --space-base: 30px;
    --space-lg: 40px;
    --space-xl: 50px;
    --space-xxl: 60px;

    /* ELEMENT STYLES */
    --radius-sm: 5px;
    --radius-s: 10px;
    --radius-xs: 15px;
    --radius-md: 20px;
    --radius-base: 30px;
    --radius-lg: 40px;
    --radius-xl: 50px;
}

/* Defaults */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-main);
  padding: var(--space-base);
  font-family: var(--font-main);
}

.landing-wrapper {
    width: min(100%, 1150px);
    margin: 0 auto;
}


/* Components */
.burger-btn {
    display: none;
    flex-direction: column;
    gap: var(--space-sm);
    cursor: pointer;
}

.arrow-link{
    display: block;
    width: 48px;
    height: 48px;
    background-color: var(--text-primary);

    -webkit-mask: url('../images/arrow-icon.svg') no-repeat center / contain;
    mask: url('../images/arrow-icon.svg') no-repeat center / contain;
}

.logo-img {
    height: 30px;
    width: auto;
    display: block;
}

/* Header and Footer */
.header {
  background-color: var(--bg-main);
  color: var(--text-primary);
  border: var(--text-primary) 1px solid;
  border-radius: var(--radius-md);

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--space-md);

  position: sticky;
  top: var(--space-base);
}

.desktop-nav {
    display: flex;
    gap: var(--space-sm);
}

.footer {
    background-color: var(--bg-main);
    color: var(--text-primary);
    border: var(--text-primary) 1px solid;
    border-radius: var(--radius-md);
    
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--space-md);
}

/* Hero Card */

.main-content h1,
.main-content h2,
.main-content p {
  margin: 0;      
  padding: 0;      
  border: none;    
  line-height: 1.2; 
}

.main-content {
    display: flex;
    gap: var(--space-base);

    margin-top: var(--space-base);
    margin-bottom: var(--space-base);
}

.hero-card {
    background-color: var(--bg-card);
    color: var(--text-primary);

    border: var(--text-primary) 1px solid;
    border-radius: var(--radius-base);
    padding: var(--space-base);

    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;

    min-height: 68vh;
}

.hero-title{
    font-size: var(--fs-xxxl);
}

.hero-desc {
    font-size: var(--fs-md);
}

.accent-divider {
    width: 15%;
    height: 4px;
    background-color: var(--accent);
    border: none;
    border-radius: var(--radius-sm);
    opacity: 1;
}

/* Courses section */

.courses-column {
  flex: 1.1; 
  display: flex;
  flex-direction: column;
  gap: var(--space-base);
}

.course-card {
  background-color: var(--bg-card);
  color: var(--text-primary);

  border: var(--text-primary) 1px solid;
  border-radius: var(--radius-base);
  padding: var(--space-base);

  font-family: var(--font-main);
  display: flex;
  justify-content: space-between;

  flex: 1;

  transition: transform 0.2s ease, border-color 0.2s ease;
}

.course-info {
    display: flex;
    flex-direction: column;
    gap: var(--space-sm);
    align-items: flex-start;
    justify-content: space-between;

    max-width: 60%;
}

.course-link {
    align-self: flex-end;

}

.course-title {
    font-size: var(--fs-lg);
    max-width: 70%;
}

.course-desc {
    font-size: var(--fs-base);
    color: var(--text-muted);
}


/* RESPONSIVE */

/* Tablet & Medium Screens (992px and below) */
@media (max-width: 992px) {
    :root {
        --fs-xxxl: 2.5rem;
    }

    .hero-title {
        font-size: var(--fs-xxl);
    }

    .course-desc {
        font-size: var(--fs-sm);
    }

    .course-info {
        max-width: 70%;
    }
}

/* Small Tablets (850px and below) */
@media (max-width: 850px) {
    .landing-wrapper {
        width: min(100%, 700px);
    }

    .main-content {
        flex-direction: column;
        gap: var(--space-md);
        margin: var(--space-md) auto;
    }

    .hero-card {
        min-height: 40vh;
        gap: var(--space-md);
    }

    .hero-bottom {
        display: flex;
        flex-direction: column;
        max-width: 80%;
    }

    .hero-title {
        font-size: var(--fs-xxl);
    }

    .hero-desc {
        font-size: var(--fs-md);
    }

    .courses-column {
        flex-direction: row;
        gap: var(--space-md);
    }

    .course-card {
        min-height: 250px;
    }

    .arrow-link {
        width: 42px;
        height: 42px;
    }
}

/* Mobile Landscape (650px and below) */
@media (max-width: 650px) {
    .courses-column {
        flex-direction: column;
    }

    .course-desc {
        font-size: var(--fs-base);
    }
}

/* Mobile Portrait (480px and below) */
@media (max-width: 480px) {
    .burger-btn {
        display: flex;
        gap: var(--space-sm);
        background: none;
        border: none;
        height: 30px;
        width: 30px;
    }

    .burger-btn span {
        display: block;
        width: 100%;
        height: 2px;
        background-color: var(--text-primary);

        border:none;
        border-radius: var(--radius-sm);

        transition: all var(--space-sm) ease; 
    }

    .desktop-nav {
        display: none;
    }

    .hero-title {
        font-size: var(--fs-xl);
    }

    .hero-desc{
        font-size: var(--fs-base);
    }

    .header {
        min-width: auto;
        padding: var(--space-md);
    }

    .footer {
        min-width: auto;
        padding: var(--space-md);

        font-size: var(--fs-sm);
        align-items: center;
        text-align: center;
    };

    .logo-img {
        height: 24px;
        width: auto;
    }

    .desktop-nav.active {
        display: flex;
        flex-direction: column;
        
        position: absolute;
        top: 100%;
        right: 0;
        margin-top: var(--space-sm);
        
        background-color: var(--bg-main);
        padding: var(--space-base);
        border: 1px solid var(--text-primary);
        border-radius: var(--radius-md);
        gap: var(--space-sm);
        z-index: 1000;
    }

    .desktop-nav.active > .separator {
        display: none;
    }
    
}




