.lilex-<uniquifier> {
  font-family: "Lilex", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

#quarto-content>* {
    padding: 0 !important;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lilex', monospace;
}

body {
  margin: 0;
  padding: 0;
}


.hero-banner {
  display: flex;              
  align-items: center;        
  justify-content: center; 
  overflow: hidden;  
  
  justify-content: center; 
  min-height: 100vh; 
  width: 100%;        
  
  background-color: #050505;
  color: #ffffff;
  
  position: relative;
  z-index: 1;
}

.hero-banner::before,
.hero-banner::after {
  content: '';
  position: absolute;
  width: 60vw;   
  height: 60vw; 
  border-radius: 50%;
  filter: blur(120px); 
  opacity: 0.15; 
  z-index: -1; 
}

.hero-banner::before {
  background: #4D64E8; 
  top: -20%;
  left: -20%;
}

.hero-banner::after {
  background: #F97316;
  bottom: -20%;
  right: -20%;
}

.hero-header {
  display: flex;
  flex-direction: column;
  padding-right: 80px;
  
  align-items: flex-end;
  justify-content: center;
  text-align: right;
}

.hero-header > h1, 
.hero-header > p {
  max-width: 700px;
  width: 100%;
}

.hero-title {
  font-size: 3.5rem;          
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 20px;
  color: white;
}

.hero-subtitle {
  font-size: 1.2rem;
  color: #cccccc;            
  margin-bottom: 40px;        
  line-height: 1.6;
}

.logo {
  color: #F97316;             
  margin-right: 15px;         
}

.btn-start {
  padding: 15px 30px;
  width: auto;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  color: white;
  border: 2px solid #fff;  
  background: rgba(77, 100, 232, 0.1); 
  transition: all 0.3s ease;
}

.btn-start:hover {
  background: #FF6500;        
  box-shadow: 0 0 20px rgba(77, 100, 232, 0.5);
}


.image-container {
  position: relative;
  flex: 0 0 auto;
  height: 100vh; 
  padding: 10px; 
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-container img {
  height: auto;
  max-width: 500px;
  width: 100%;;
  border-radius: 8px; 
  display: block;
}


@media (max-width: 900px) {
  .hero-banner {
    flex-direction: column-reverse; 
    justify-content: center;
    text-align: center;
    padding-top: 50px;
    height: auto;
  }
  
  .hero-header {
    max-width: 100%;
  }

  .image-container {
    justify-content: center;
    margin-bottom: 30px;
  }

  .hero-title {
    font-size: 2.5rem; 
  }
}