@import url('https://fonts.googleapis.com/css2?family=Lilex:ital,wght@0,100..700;1,100..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    box-sizing: border-box;
}

p {
  font-family: 'Ubuntu';
}

:root {
  --bg-body: #FCF7F8;

  --fg-text: #413C3A;       
  --fg-muted: #656d76;

  --accent-color: #F97316; 

  --border-color: #d0d7de;

  --code-bg: #EEE7E9;

  --footer-bg: rgba(255, 255, 255, 0.75);       
  --footer-border: 1px solid rgba(0, 0, 0, 0.05); 
  --footer-text: #252525;                      
  --footer-shadow: 0 -5px 20px rgba(0, 0, 0, 0.05);
}

body.quarto-dark {
  --bg-body: #0d1117;       
  --fg-text: #e6edf3;     
  --fg-muted: #848d97;
  --accent-color: #2e8ffe;  
  --border-color: #30363d;

  --code-bg: #161b22;

  --footer-bg: rgba(30, 30, 30, 0.6);           
  --footer-border: 1px solid rgba(255, 255, 255, 0.1); 
  --footer-text: #e5e5e5;                     
  --footer-shadow: 0 -5px 20px rgba(0, 0, 0, 0.4);
}

body {
  font-family: system-ui, -apple-system, "Ubuntu", sans-serif;
  background-color: var(--bg-body);
  color: var(--fg-text);
  line-height: 1.6; 
  transition: background-color 0.3 ease, color 0.3 ease;
  letter-spacing: -0.1px;
}

code, kbd, pre, samp, .sourceCode {
  font-family: 'Lilex', monospace !important; 
  background-color: var(--code-bg);
}

div.sourceCode {
  background-color: var(--code-bg);
  border: 1px solid var(--border-color); 
  border-radius: 8px; 
  margin-bottom: 1.5rem;
}

pre {
  padding: 1rem; 
}

code:not(pre code) {
  background-color: var(--code-bg);
  color: var(--accent);
  padding: 0.2em 0.4em;
  border-radius: 4px;
  font-size: 0.9em;
  border: 1px solid var(--border-color);
}

p code:not(.sourceCode), li code:not(.sourceCode), td code:not(.sourceCode) {
    background-color: var(--code-bg);
    padding: .2em;
}

.callout {
  border-radius: 8px;
  border: 1px solid var(--border-color);
  /* background-color: var(--bg-sidebar); */
}


h1, h2, h3, h4, h5, h6 {
  color: var(--fg-text);
  font-weight: 700;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}

h1 {
  font-weight: 700;
}

#title-block-header {
  padding-bottom: 10px;
}

#quarto-sidebar > div.mt-2.flex-shrink-0.align-items-center {
  display: none;
}

.breadcrumb {
  background-color: var(--bg-body);
  padding: 4px;
}

.quarto-secondary-nav .breadcrumb-item:first-child > a {
    color: var(--accent-color) !important;
}

.quarto-secondary-nav .breadcrumb {
  background-color: transparent !important;
}


.breadcrumb a {
  color: var(--accent-color)
}

p code.sourceCode, li code.sourceCode, td code.sourceCode {
    background-color: var(--code-bg);
}

div.sourceCode {
  background-color: var(--code-bg);
  border-radius: 8px;
  border: 1px solid rgba(128, 128, 128, 0.1);
  margin-bottom: 1.5em;
}

a {
  color: var(--accent-color);
  text-decoration: none;
  font-weight: 500;
}

a:hover {
  text-decoration: underline;
}

.pagination-link:hover {
  color: var(--accent-color) !important;
}

div.sidebar-item-container .sidebar-item-text {
  color: var(--fg-muted) !important;
  transition: color 0.2s ease;
}

div.sidebar-item-container:hover .sidebar-item-text {
  color: var(--fg-text) !important;
}

div.sidebar-item-container .sidebar-item-toggle.active {
  color: var(--accent-color) !important;
}

div.sidebar-item-container .sidebar-item-text {
  border-left: none !important; 
  border-right: none !important;
}

div.sidebar-item-container a.sidebar-item-text.active {
   border-left: 3px solid var(--accent-color) !important;
   padding-left: 0.8rem !important; 
}

#quarto-sidebar {
  background-color: color-mix(in srgb, var(--bg-body), transparent 30%);
  border-right: 1px solid var(--border-color) !important;
  /* border-left: 1px solid var(--border-color) !important; */
  
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  transition: all 0.3s ease;
}

#quarto-margin-sidebar .nav-link {
  color: var(--fg-muted) !important;
}

#quarto-margin-sidebar .nav-link:hover {
  color: var(--accent-color) !important;
}

#quarto-margin-sidebar .nav-link.active {
  color: var(--accent-color) !important;
  border-left: 2px solid var(--accent-color);
  padding-left: 10px;
  background: transparent !important; 
}

#toc-title {
  color: var(--fg-text);
  font-weight: 700;
}

.nav-footer {
background: rgba(30, 30, 30, 0.4);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    
    background: var(--footer-bg);
    border-top: var(--footer-border);
    color: var(--footer-text);
    box-shadow: var(--footer-shadow);
    
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 5% 5% 0 0;
    
    text-align: center;

    padding-bottom: 0;

    transition: all 0.3s ease;
}

